In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
netflix_df = pd.read_csv('netflix_titles.csv')
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
netflix_df.fillna('Unknown', inplace=True)
netflix_df.rename(columns = {"release_year": "year",
                             "listed_in": "genre",
                             "rating": "age_of_viewers"}, inplace=True)
netflix_df = netflix_df.loc[netflix_df['type']== "TV Show"]
netflix_df.drop("date_added", axis=1, inplace=True)
netflix_df.head()

,show_id,type,title,director,cast,country,year,age_of_viewers,duration,genre,description
2,70234439,TV Show,Transformers Prime,Unknown,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,Unknown,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
5,80163890,TV Show,Apaches,Unknown,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
8,80117902,TV Show,Fire Chasers,Unknown,Unknown,United States,2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
26,80244601,TV Show,Castle of Stars,Unknown,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",Unknown,2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [4]:
netflix_shows_df = pd.read_csv('shows-netflix.csv')
netflix_shows_df.head()

            Titles  Year Rating  IMDB_Rating  Netflix
0     Breaking Bad  2008    18+          9.5        1
1  Game of Thrones  2011    18+          9.3        0
2   Rick and Morty  2013    18+          9.2        0
3             Dark  2017    16+          8.8        1
4  Stranger Things  2016    16+          8.8        1

In [5]:
netflix_shows_df.rename(columns = {"Titles": "title",
                                   "Year": "year",
                                   "Rating": "age_of_viewer",
                                   "IMDB_Rating": "imdb_rating"}, inplace = True)
netflix_shows_df.head()

             title  year age_of_viewer  imdb_rating  Netflix
0     Breaking Bad  2008           18+          9.5        1
1  Game of Thrones  2011           18+          9.3        0
2   Rick and Morty  2013           18+          9.2        0
3             Dark  2017           16+          8.8        1
4  Stranger Things  2016           16+          8.8        1

In [6]:
all_tv_df = pd.read_csv('tv_shows_all.csv')
all_tv_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [7]:
all_tv_df.fillna('Unknown', inplace=True)
all_tv_df.rename(columns= {"Unnamed: 0": "id",
                             "Title": "title",
                             "Year": "year",
                             "Age": "age_of_viewers",
                             "IMDb": "imdb_rating",
                             "Rotten Tomatoes": "rotten_tomatoes",
                             "Netflix": "netflix",
                             "Hulu": "hulu",
                             "Prime Video": "prime_video",
                             "Disney+": "disney"}, inplace=True)
all_tv_df.drop("type", axis=1, inplace=True)

In [8]:
all_tv_df.head()

,id,title,year,age_of_viewers,imdb_rating,rotten_tomatoes,netflix,hulu,prime_video,disney
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0

In [9]:
amazon_file = "Amazon_prime.csv"
amazon_df = pd.read_csv(amazon_file,encoding = "ISO-8859-1")
amazon_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+

In [10]:
amazon_df.fillna('Unknown',inplace=True)
amazon_df

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020,1,Hindi,Drama,7.5,18+
1,2,Upload,2020,1,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017,3,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019,2,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016,2,English,Comedy,8.7,18+
5,6,Made in Heaven,2019,1,Hindi,Drama,8.3,18+
6,7,Homecoming,2018,2,English,Drama,7.5,16+
7,8,Mirzapur,2018,1,Hindi,Drama,8.5,18+
8,9,The Family Man,2019,1,Hindi,"Drama, Action",8.6,18+
9,10,Modern Love,2019,1,English,"Drama, Romance, Comedy",8,16+
10,11,Comicstaan,2018,2,Hindi,"Arts, Entertainment, Culture",Unknown,18+
11,12,Inside Edge,2017,2,Hindi,"Sports, Drama",8,18+
12,13,The Boys,2019,2,English,"Action, Comedy",8.7,18+
13,14,Hanna,2019,2,English,"Drama, Action",7.5,16+
14,15,Hunters,2020,1,English,"Drama, Action, Suspense",7.2,18+
15,16,Good Omens,2019,1,English,"Fantasy, Comedy",Unknown,16+
16,17,Breathe,2018,1,Hindi,"Drama, Suspense",8.4,16+
17,18,The Forgotten Army- Azaadi ke Liye,2020,1,Hindi,"Drama, Action",8,18+
18,19,Tom Clancy's Jack Ryan,2018,2,English,"Drama, Action, Suspense",8.1,16+
19,20,Tales from the Loop,2020,1,English,Sci-fi,7.5,18+
20,21,The Test: A New Era for Australia's Team,2020,1,English,Documentary,9,16+
21,22,The Man in the High Castle,2015,4,English,"Drama, Suspense",8,18+
22,23,One Mic Stand,2019,1,Hindi,Comedy,6.5,16+
23,24,Undone,2019,1,English,"Animation, Drama",8.2,16+
24,25,American Gods,2017,2,English,"Sci-fi, Drama, Suspense",7.8,18+
25,26,The Tick,2018,2,English,"Comedy, Action",7.4,16+
26,27,Jestination Unknown,2019,1,Hindi,"Comedy, Arts, Entertainment, Culture",6.2,16+
27,28,Man with a Plan,2018,4,English,Drama,Unknown,All
28,29,Suits,2011,8,English,Drama,8.5,16+
29,30,Doctor Who,2005,13,English,Sci-fi,Unknown,All
...,...,...,...,...,...,...,...,...
374,375,Hitoshi Matsumoto Presents Documental,2018,3,Japanese,Comedy,8,18+
375,376,Businessmen VS Aliens,2018,1,Japanese,Comedy,4.5,13+
376,377,Murphy Brown,2018,1,English,Comedy,Unknown,All
377,378,The Best of Groucho,1960,1,English,Comedy,Unknown,7+
378,379,WassUp With You,2018,2,Marathi,Comedy,Unknown,13+
379,380,Scooter: Secret Agent,2003,1,English,Comedy,6.8,All
380,381,LOL: Last one Laughing,2019,2,Spanish,Comedy,Unknown,18+
381,382,Faireez,2006,1,English,Comedy,Unknown,All
382,383,A New Kind Of Magic,2017,2,English,Comedy,Unknown,All
383,384,The Real McCoys,1958,6,English,Comedy,7.5,All
384,385,Uchimura Summers,2018,1,Japanese,"Arts, Entertainment, Culture",Unknown,13+
385,386,Paprika,2017,1,English,Kids,Unknown,All
386,387,Gattu- The Power Champ,2019,2,Hindi,Kids,Unknown,7+
387,388,Still Standing,2015,4,English,Comedy,Unknown,13+
388,389,Chris Tall Presents,2019,1,Deutsch,Comedy,Unknown,16+
389,390,Short Poppies,2014,1,English,Comedy,Unknown,13+
390,391,The 2018 Rose Parade Hosted by Cord & Tish,2018,1,English,Comedy,Unknown,All
391,392,Aliens Love Underpants And,2017,1,English,Kids,Unknown,All
392,393,Gina Brillon: The Floor is Lava,2020,1,English,Comedy,Unknown,16+
393,394,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
394,395,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
395,396,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
396,397,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
397,398,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
398,399,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
399,400,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
400,401,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
401,402,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
402,403,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
403,404,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [11]:
amazon_df=amazon_df.loc[amazon_df['Name of the show']!= 'Unknown']
amazon_df=amazon_df.rename(columns={"S.no.":"id","Name of the show":"name_of_the_show","Year of release":"release_year",
                                    "No of seasons available":"seasons_available","Language":"language","Genre":"genre",
                                    "IMDb rating":"imdb_rating","Age of viewers":"age_of_viewers"})
amazon_df.head()

,id,name_of_the_show,release_year,seasons_available,language,genre,imdb_rating,age_of_viewers
0,1,Pataal Lok,2020,1,Hindi,Drama,7.5,18+
1,2,Upload,2020,1,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017,3,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019,2,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016,2,English,Comedy,8.7,18+