In [1]:
import pandas as pd
from sqlalchemy import create_engine
from password import password

In [2]:
netflix_df = pd.read_csv('netflix_titles.csv')
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
netflix_df.fillna('Unknown', inplace=True)
netflix_df.rename(columns = {"release_year": "year",
                             "listed_in": "genre",
                             "rating": "age_of_viewers",
                            "show_id": "id",
                            "cast": "actors"}, inplace=True)
netflix_df = netflix_df.loc[netflix_df['type']== "TV Show"]
netflix_df.drop("date_added", axis=1, inplace=True)
netflix_df.head()

,id,type,title,director,actors,country,year,age_of_viewers,duration,genre,description
2,70234439,TV Show,Transformers Prime,Unknown,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,Unknown,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
5,80163890,TV Show,Apaches,Unknown,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
8,80117902,TV Show,Fire Chasers,Unknown,Unknown,United States,2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
26,80244601,TV Show,Castle of Stars,Unknown,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",Unknown,2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [4]:
netflix_shows_df = pd.read_csv('shows-netflix.csv')
netflix_shows_df.head()

            Titles  Year Rating  IMDB_Rating  Netflix
0     Breaking Bad  2008    18+          9.5        1
1  Game of Thrones  2011    18+          9.3        0
2   Rick and Morty  2013    18+          9.2        0
3             Dark  2017    16+          8.8        1
4  Stranger Things  2016    16+          8.8        1

In [5]:
netflix_shows_df.rename(columns = {"Titles": "title",
                                   "Year": "year",
                                   "Rating": "age_of_viewer",
                                   "IMDB_Rating": "imdb_rating",
                                  "Netflix": "netflix"}, inplace = True)
netflix_shows_df.head()

             title  year age_of_viewer  imdb_rating  netflix
0     Breaking Bad  2008           18+          9.5        1
1  Game of Thrones  2011           18+          9.3        0
2   Rick and Morty  2013           18+          9.2        0
3             Dark  2017           16+          8.8        1
4  Stranger Things  2016           16+          8.8        1

In [6]:
all_tv_df = pd.read_csv('tv_shows_all.csv')
all_tv_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [7]:
all_tv_df.fillna('Unknown', inplace=True)
all_tv_df.rename(columns= {"Unnamed: 0": "id",
                             "Title": "title",
                             "Year": "year",
                             "Age": "age_of_viewer",
                             "IMDb": "imdb_rating",
                             "Rotten Tomatoes": "rotten_tomatoes",
                             "Netflix": "netflix",
                             "Hulu": "hulu",
                             "Prime Video": "prime_video",
                             "Disney+": "disney"}, inplace=True)
all_tv_df.drop("type", axis=1, inplace=True)

In [8]:
all_tv_df.head()

,id,title,year,age_of_viewer,imdb_rating,rotten_tomatoes,netflix,hulu,prime_video,disney
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0

In [9]:
amazon_file = "Amazon_prime.csv"
amazon_df = pd.read_csv(amazon_file,encoding = "ISO-8859-1")
amazon_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+

In [10]:
amazon_df.fillna('Unknown',inplace=True)
amazon_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020,1,Hindi,Drama,7.5,18+
1,2,Upload,2020,1,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017,3,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019,2,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016,2,English,Comedy,8.7,18+

In [11]:
amazon_df=amazon_df.loc[amazon_df['Name of the show']!= 'Unknown']
amazon_df=amazon_df.rename(columns={"S.no.":"id","Name of the show":"title","Year of release":"year",
                                    "No of seasons available":"seasons_available","Language":"language","Genre":"genre",
                                    "IMDb rating":"imdb_rating","Age of viewers":"age_of_viewer"})
amazon_df.head()

,id,title,year,seasons_available,language,genre,imdb_rating,age_of_viewer
0,1,Pataal Lok,2020,1,Hindi,Drama,7.5,18+
1,2,Upload,2020,1,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017,3,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019,2,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016,2,English,Comedy,8.7,18+

In [12]:
rds_connection_string = (f'postgres:{password}@localhost:5432/tv_shows_db')
engine = create_engine(f'postgresql://{rds_connection_string}')

In [13]:
engine.table_names()

['netflix', 'all_tv', 'netflix_show', 'amazon']

In [ ]:
netflix_df.to_sql(name='netflix', con=engine, if_exists='append', index=False)

In [ ]:
all_tv_df.to_sql(name='all_tv', con=engine, if_exists='append', index=False)

In [ ]:
netflix_shows_df.to_sql(name='netflix_show', con=engine, if_exists='append', index=False)

In [ ]:
amazon_df.to_sql(name='amazon', con=engine, if_exists='append', index=False)

In [14]:
pd.read_sql_query('select * from amazon', con=engine).head()

,id,title,year,seasons_available,language,genre,imdb_rating,age_of_viewer
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+